<div class="container">
  <div class="row">
    <img
      src="../assets/images/park4.jpg"
      alt="skyline"
      style="z-index: -5"
      class="col"
    />
    <app-detail class="col" style="z-index: 15"></app-detail>
    <select
      name="selectus"
      id="sel"
      class="form-control"
      [formControl]="cityControl"
      style="z-index: 15"
    >
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
  <router-outlet></router-outlet>
</div>
