.widget {
  border: 1px solid black;
  border-radius: 15px;
}

fa-icon {
  font-size: 2.5rem;
}

.temperature {
  font-size: 3rem;
}

.temp-arr {
  line-height: 10px;
}

.line-h-5 {
  line-height: 5px;
}

.mini {
  font-size: 0.7rem;
  padding-left: 3px;
}
