<section id="detail-weather" *ngIf="data$ | async as data">
  <div class="container widget">
    <div class="row">
      <div class="col-8">
        <p class="mt-2 font-weight-bold grey text-center">
          {{ today | date: "EEEE, dd MMM yyyy | hh:mm a" }}
        </p>
      </div>
      <div class="col-4 city">
        <a [routerLink]="['../', 'search']">
          <div class="d-flex mt-2">
            <p class="font-weight-bold">{{ location }}, Slovakia</p>
            <fa-icon
              class="map-marker"
              [icon]="['fas', 'map-marker-alt']"
            ></fa-icon>
          </div>
        </a>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-4">
      <div class="col-3">
        <div>
          <!-- <fa-icon class="grey" [icon]="['fas', 'cloud-sun']"></fa-icon> -->
          <!-- <img src="http://openweathermap.org/img/wn/04d@2x.png" alt="" /> -->
          <img
            src="http://openweathermap.org/img/wn/{{
              data.daily[0].weather[0].icon
            }}@2x.png"
            alt=""
          />
          <p class="montserrat weight-700 size-2">
            {{ data.current.weather[0].description | titlecase }}
          </p>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <p class="montserrat" style="font-size: 4rem; padding-left: 10px">
            {{ data.current.temp }}
          </p>
          <p class="align-self-center grey" style="font-size: 1.5rem">
            &#x2103;
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr grey weight-600 size-2">
              {{ data.daily[0].temp.max }}&#x2103;
            </p>
            <fa-icon
              class="mini grey"
              [icon]="['fas', 'long-arrow-alt-up']"
            ></fa-icon>
          </div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr grey weight-600 size-2">
              {{ data.daily[0].temp.min }}&#x2103;
            </p>
            <fa-icon
              class="mini grey"
              [icon]="['fas', 'long-arrow-alt-down']"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-3">
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'tint']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.humidity }}%
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Humidity
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'tachometer-alt']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.pressure }}mBar
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Pressure
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'wind']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.wind_speed }}km/h
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Wind
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-3">
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'angle-double-up']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.sunrise * 1000 | date: "shortTime" }}
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Sunrise
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'angle-double-down']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.sunset * 1000 | date: "shortTime" }}
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Sunset
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'hourglass-half']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">
            {{ data.current.sunrise + data.current.sunset | date: "hh:mm" }}
          </p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Daytime
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-4">
      <div class="col-3 day">
        <!-- <fa-icon class="grey" [icon]="['fas', 'cloud-rain']"></fa-icon> -->
        <img
          src="http://openweathermap.org/img/wn/{{
            data.daily[1].weather[0].icon
          }}@2x.png"
          alt="forecast-icon"
          class="forecast-icon"
        />
        <p class="line-h-5 weight-700 size-2 mt-2">
          {{ data.daily[1].dt * 1000 | date: "EEE, dd" }}
        </p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[1].temp.max | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[1].temp.min | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <!-- <fa-icon class="grey" [icon]="['fas', 'cloud-showers-heavy']"></fa-icon> -->
        <img
          src="http://openweathermap.org/img/wn/{{
            data.daily[2].weather[0].icon
          }}@2x.png"
          alt="forecast-icon"
          class="forecast-icon"
        />
        <p class="line-h-5 weight-700 size-2 mt-2">
          {{ data.daily[2].dt * 1000 | date: "EEE, dd" }}
        </p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[2].temp.max | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[2].temp.min | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <!-- <fa-icon class="grey" [icon]="['fas', 'cloud-sun-rain']"></fa-icon> -->
        <img
          src="http://openweathermap.org/img/wn/{{
            data.daily[3].weather[0].icon
          }}@2x.png"
          alt="forecast-icon"
          class="forecast-icon"
        />
        <p class="line-h-5 weight-700 size-2 mt-2">
          {{ data.daily[3].dt * 1000 | date: "EEE, dd" }}
        </p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[3].temp.max | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">
                {{ data.daily[3].temp.min | number: "1.0-0" }}&#x2103;
              </p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container" *ngIf="!data$ | async">
  <div class="row justify-content-center">
    <p style="background-color: red; color: white">Something wrong</p>
  </div>
</div>
