<section id="detail-weather">
  <div class="container widget">
    <div class="row">
      <div class="col-8">
        <p class="mt-2 font-weight-bold grey-text text-center">
          Wednesday 08 Oct 2020 | 4:30PM
        </p>
      </div>
      <div class="col-4 city">
        <div class="d-flex mt-2">
          <p class="font-weight-bold">Kosice, Slovakia</p>
          <fa-icon
            class="map-marker"
            [icon]="['fas', 'map-marker-alt']"
          ></fa-icon>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center">
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'cloud-sun']"></fa-icon>
          <p>Sunny</p>
        </div>
      </div>
      <div class="col-3">
        <p class="temperature">33&#x2103;</p>
      </div>
      <div class="col-3">
        <div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr">35&#x2103;</p>
            <fa-icon
              class="mini"
              [icon]="['fas', 'long-arrow-alt-up']"
            ></fa-icon>
          </div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr">27&#x2103;</p>
            <fa-icon
              class="mini"
              [icon]="['fas', 'long-arrow-alt-down']"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center">
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'tint']"></fa-icon>
          <p class="line-h-5">49%</p>
          <p class="line-h-5">Humidity</p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'tachometer-alt']"></fa-icon>
          <p class="line-h-5">1,007mBar</p>
          <p class="line-h-5">Pressure</p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'wind']"></fa-icon>
          <p class="line-h-5">1,007mBar</p>
          <p class="line-h-5">Pressure</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center">
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>
          <p class="line-h-5">6:03AM</p>
          <p class="line-h-5">Sunrise</p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
          <p class="line-h-5">7:05PM</p>
          <p class="line-h-5">Sunset</p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon [icon]="['fas', 'hourglass-half']"></fa-icon>
          <p class="line-h-5">1,007mBar</p>
          <p class="line-h-5">Pressure</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-3">
      <div class="col-3 day">
        <fa-icon [icon]="['fas', 'cloud-rain']"></fa-icon>
        <p class="line-h-5">Thu,09</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>35&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>25&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <fa-icon [icon]="['fas', 'cloud-showers-heavy']"></fa-icon>
        <p class="line-h-5">fri,10</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>35&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>25&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <fa-icon [icon]="['fas', 'cloud-sun-rain']"></fa-icon>
        <p class="line-h-5">Sat,11</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>35&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p>25&#x2103;</p>
              <fa-icon
                class="mini"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div></div>
</section>
