<section id="detail-weather">
  <div class="container widget">
    <div class="row">
      <div class="col-8">
        <p class="mt-2 font-weight-bold grey text-center">
          Wednesday 08 Oct 2020 | 4:30PM
        </p>
      </div>
      <div class="col-4 city">
        <div class="d-flex mt-2">
          <p class="font-weight-bold">Kosice, Slovakia</p>
          <fa-icon
            class="map-marker"
            [icon]="['fas', 'map-marker-alt']"
          ></fa-icon>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-4">
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'cloud-sun']"></fa-icon>
          <p class="montserrat weight-700 size-2">Sunny</p>
        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-center">
          <p class="montserrat" style="font-size: 4rem; padding-left: 10px">
            33
          </p>
          <p class="align-self-center grey" style="font-size: 1.5rem">
            &#x2103;
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr grey weight-600 size-2">35&#x2103;</p>
            <fa-icon
              class="mini grey"
              [icon]="['fas', 'long-arrow-alt-up']"
            ></fa-icon>
          </div>
          <div class="d-flex justify-content-center align-items-baseline">
            <p class="temp-arr grey weight-600 size-2">27&#x2103;</p>
            <fa-icon
              class="mini grey"
              [icon]="['fas', 'long-arrow-alt-down']"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-3">
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'tint']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">49%</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Humidity
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'tachometer-alt']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">1,007mBar</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Pressure
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'wind']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">23km/h</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Wind
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-3">
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'angle-double-up']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">6:03AM</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Sunrise
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'angle-double-down']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">7:05PM</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Sunset
          </p>
        </div>
      </div>
      <div class="col-3">
        <div>
          <fa-icon class="grey" [icon]="['fas', 'hourglass-half']"></fa-icon>
          <p class="line-h-5 weight-700 size-2 mt-2">13h 1m</p>
          <p
            class="line-h-5 weight-600 grey size-1 letter-sp-1 montserrat pt-1"
          >
            Daytime
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-around align-items-center text-center mt-4">
      <div class="col-3 day">
        <fa-icon class="grey" [icon]="['fas', 'cloud-rain']"></fa-icon>
        <p class="line-h-5 weight-700 size-2 mt-2">Thu,09</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">35&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">25&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <fa-icon class="grey" [icon]="['fas', 'cloud-showers-heavy']"></fa-icon>
        <p class="line-h-5 weight-700 size-2 mt-2">fri,10</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">35&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">25&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 day">
        <fa-icon class="grey" [icon]="['fas', 'cloud-sun-rain']"></fa-icon>
        <p class="line-h-5 weight-700 size-2 mt-2">Sat,11</p>
        <div class="row justify-content-center">
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">35&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-up']"
              ></fa-icon>
            </div>
          </div>
          <div class="col-5">
            <div class="d-flex align-items-baseline">
              <p class="weight-600 grey size-1 montserrat">25&#x2103;</p>
              <fa-icon
                class="mini grey"
                [icon]="['fas', 'long-arrow-alt-down']"
              ></fa-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
