.widget {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 50px;
  box-shadow: 0 -15px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: -80px;
  animation: load-site2 3000ms;
}

fa-icon {
  font-size: 2.5rem;
}

.map-marker {
  font-size: 1rem;
  padding-left: 10px;
}

.grey {
  color: rgb(165, 163, 163);
}

.city {
  background-color: #9ed6f0;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: #158cc4;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.size-2 {
  font-size: 1.1rem;
}

.size-1 {
  font-size: 0.7rem;
}

.letter-sp-1 {
  letter-spacing: 1px;
}

/* .temperature {
  font-size: 3rem;
} */

.temp-arr {
  line-height: 10px;
}

.line-h-5 {
  line-height: 5px;
}

.mini {
  font-size: 0.7rem;
  padding-left: 3px;
}

.day {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.forecast-icon {
  width: 60px;
}

@keyframes load-site2 {
  0% {
    margin-top: -300px;
  }

  100% {
    margin-top: -80px;
  }
}
