.widget {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-bottom: 50px;
  box-shadow: 0 -15px 5px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: -300px;
  animation: load-site 3000ms;
}

.map-marker {
  font-size: 1rem;
  padding-left: 10px;
}

.grey {
  color: rgb(165, 163, 163);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.weight-400 {
  font-weight: 400;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.size-2 {
  font-size: 1.1rem;
}

.size-1 {
  font-size: 0.7rem;
}

.letter-sp-1 {
  letter-spacing: 1px;
}

ul li {
  list-style-type: none;
}

@keyframes load-site {
  0% {
    margin-top: -80px;
  }

  100% {
    margin-top: -300px;
  }
}
