<section id="detail-weather">
  <div class="container widget">
    <div class="row">
      <div class="col">
        <p
          class="grey weight-700 text-center mt-4 montserrat"
          style="font-size: 1.3rem"
        >
          Location
        </p>
        <input
          type="text"
          class="form-control montserrat"
          placeholder="Search city..."
          (keyup)="searchCity($event)"
        />
      </div>
    </div>
    <div class="row">
      <ul class="col text-left mt-4">
        <li *ngFor="let city of searchCities; let i = index" class="mb-2">
          <a
            class="montserrat text-dark weight-600 letter-sp-1 size-2 d-flex"
            [routerLink]="['../', city]"
          >
            <p class="col-8 montserrat">{{ city }}</p>
            <p class="col-4 montserrat">{{ temperatures[i] }} &#x2103;</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
